.root {
  width: 100vw;
  .container {
    background: #b5eaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    .title_wrapper {
      a {
        font-size: 1.25rem;
        text-decoration: none;
        color: rgb(45, 45, 45);
        transition: all 0.3s;
        &:hover {
          color: #f38ba0;
        }
      }
    }
    .createPost_signOut_wrapper {
      display: flex;
      gap: 30px;
      .createPost {
        a {
          font-size: 1.25rem;
          text-decoration: none;
          color: rgb(45, 45, 45);
          transition: all 0.3s;
          &:hover {
            color: #f38ba0;
          }
        }
      }
      .signOut {
        font-size: 1.25rem;

        cursor: pointer;
        color: rgb(45, 45, 45);

        transition: all 0.3s;
        &:hover {
          color: #f38ba0;
        }
      }
    }
  }
}
