.root {
  width: 100vw;
  .container {
    background: darksalmon;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    .title_wrapper {
      a {
        text-decoration: none;
        color: black;
      }
    }
    .createPost_signOut_wrapper {
      display: flex;
      gap: 20px;
      .createPost {
        a {
          text-decoration: none;
          color: black;
        }
      }
      .signOut {
        cursor: pointer;
      }
    }
  }
}
