.root {
  height: 100%;
  .form {
    height: 100%;
  }
  .title_wrapper {
    input {
      text-indent: 10px;
      font-size: 1.5rem;
      height: 100%;
      width: 100%;
      border: none;
      padding: 10px 0;
      margin: 0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
  }
  .mde_container {
    display: flex;
    flex: 1;
    height: 100%;
    overflow: auto;
    box-sizing: content-box;
    gap: 1px;
    .mde {
      flex: 1;
      font-size: 1.5rem;
      overflow: auto;
    }
    .preview {
      flex: 1;
      font-size: 1.5rem;
      padding: 20px 40px;
      background-color: white;
      overflow: auto;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
  }
  .button {
    color: rgb(45, 45, 45);
    font-size: 1.25rem;
    background-color: #f38ba0;

    position: absolute;
    bottom: 0px;
    right: 50px;
    width: 150px;
    height: 55px;
    transition: all 0.3s;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #ffbcbc;
    }
  }
}
