.root {
  color: rgb(45, 45, 45);
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #00000020;
  width: 95%;
  margin: 0 auto;
  .checkBox {
    width: 10%;
  }
  .id {
    width: 10%;
    border-left: 1px solid #00000020;
    border-right: 1px solid #00000020;
    text-align: center;
  }
  .title {
    width: 20%;
    border-right: 1px solid #00000020;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    overflow: hidden;
    transition: all 0.3s;
    &:hover {
      color: #f38ba0;
    }
  }
  .createDate {
    width: 20%;
    border-right: 1px solid #00000020;
    text-align: center;
  }
  .updateDate {
    width: 20%;
    border-right: 1px solid #00000020;
    text-align: center;
  }
  .like {
    width: 20%;
    text-align: center;
  }
}
