.root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .main {
    flex: 1;
    background-color: #edf6e5;
    overflow: hidden;
    padding: 1px;
  }
}

@media screen and (max-width: 1024px) {
  .root {
    .main {
      overflow: unset;
    }
  }
}
