.root {
  height: 100%;
  .title_wrapper {
    height: 100%px;
    input {
      text-indent: 10px;
      font-size: 1.5rem;
      height: 100%;
      width: 100%;
      border: none;
      padding: 0;
      margin: 0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
  }
  .mde_container {
    display: flex;
    flex: 1;
    height: 100%;
    overflow: auto;
    box-sizing: content-box;
    gap: 1px;
    margin-top: 3px;
    .mde {
      flex: 1;
      font-size: 1rem;
      overflow: auto;
    }
    .preview {
      flex: 1;
      font-size: 1rem;
      padding: 20px 40px;
      background-color: white;
      overflow: auto;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
  }
}

.editor-statusbar {
  background: red;
}
